#{extends 'main.html' /}
#{set title:'Trainer Homepage' /}
#{menu id:"Dashboard"/}

<div class="ui centre aligned">
    ${person.firstName} ${person.lastName}
</div>

<table class="ui table">

    <tbody>
    <div class="ui bulleted list">
    #{list items:members, as:'members'}
        <tr>
            <td class="one wide">
                <i class="user icon"></i>
            </td>
            <td class="twelve wide">
                <a href="/dashboard/memberAssessments/${members.id}">
                    ${members.firstName}
                    ${members.lastName}</a>
                <br>
            ${members.numberOfAssessments()} assessments
            </td>
            <td class="one wide right aligned">
                <a href="/dashboard/deleteMember/${members.id}" class="ui tiny red button">
                    Delete
                </a>
            </td>
        </tr>
    #{/list}
    </div>
    </tbody>
</table>